/* Global styles theme palette
  #220901 Licorice
  #621708 Blood red
  #941B0C Penn red
  #BC3908 Rust
  #F6AA1C Orange (web color)
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}