.nav {
    display: flex;
    background-color: #941B0C;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
}

.links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
    color: whitesmoke;
}

.links ul {
    max-height: 70px;
}

.links li a {
    color: whitesmoke;
    text-decoration: none;
}

.links li a:hover {
    color: #F6AA1C;
}